{% extends "base.html" %}
{% block content %}
    <main>
        <tbody>
        {% for bicicleta in bicicletas %}
        <tr>
            <td>{{ bicicleta.marca }}</td>
            <td>{{ bicicleta.color }}</td>
            <td><span class="badge text-bg-success">{{ bicicleta.estado }}</span></td>
            <td>
                <form action="/alquilar" method="POST">
                    <input type="hidden" name="bicicleta_id" value="{{ bicicleta.id }}">
                    <button type="submit" class="btn btn-sm btn-success">Alquilar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </main>
{% endblock %}